%titleStyle {
	position: relative;
	width: 100%;
	height:30px;
	overflow: hidden;

	@include fontSize($defFont + 4);
	color:#fff;
	letter-spacing: 1px;
	line-height: 30px;

		&:before {
			display: inline-block;
			content:"NEWS";

			width:29px;
			height:30px;
			background: $orange;
			padding-left: 1px;

			@include fontSize($defFont - 9);
			font-family: arial;
			font-style: italic;
			letter-spacing: -2.3px;
			line-height: 30px;
			color:#fff;
		}

		.moresLink {
			position: absolute;
			top:0;
			right:0;

			display: block;
			width:30px;
			height:30px;
			background: $gray-d;

			color:#fff;
			text-decoration: none;

			& > i {
				display: block;
				width:100%;
				height:100%;

				text-align: center;
				line-height: 30px;
			}

		}
}


%videoGroup {
	margin-top:15px;
	width:100%;
	height:auto;

	ul {
		display: block;
		width:100%;
		height: auto;
		@include pie-clearfix;
	}

	li {
		@include float(left);
		display: block;
		width:221px;
		height:180px;
		margin-left:11px;
		margin-top:10px;
		background: #fff;

		&:first-child,
		&:nth-child(3n+1) { margin-left:0; }

		&:first-child,
		&:first-child + li,
		&:first-child + li + li { margin-top: 0; }

		& > a {
			display: block;
			width:211px;
			padding:10px 5px;

			@include fontSize($defFont + 2);
			text-decoration: none;
			text-align: left;
			color:#000;
			line-height: 18px;
			letter-spacing: 1px;
		}

		.coverImg {
			width:100%;
			height:125px;
			overflow: hidden;
		}
		.coverImg > a {
			width:100%;
			padding:0;
		}
	}
}

//lists Modules
%lists {
	display: block;
	width:100%;
	height: auto;

	& > ul > li {
		display: block;
		width:100%;
		height:150px;
		background: #fff;
		margin-top:20px;

		&:first-child { margin-top:0; }

		a {
			display: block;
			width:100%;
			height:100%;
		}
	}

	& > ul > li a {
		@include pie-clearfix;
	}


	//newsCover
	.newsListCover {
		@include float(left);
		width:200px;
		height:150px;
		overflow:hidden;
	}

	//newsDescription
	.newsListDes {
		@include float(right);
		width:475px;
		height: 150px;

		& > a {
			margin-top: 5px;
			display: block;
			width:470px;
			height:auto;
			padding:0 5px 0 0;

			color:#000;
			letter-spacing: 0.5px;
			text-decoration: none;

			&.title {
				@include fontSize($defFont + 4);
				line-height:24px;
			}

			&.texts {
				@include fontSize($defFont);
				line-height: 20px;
			}
		}

		//keywords
		& > .keywords {
			@include float(right);
			@include fontSize($defFont);

			display: inline-block;
			padding-right:5px;

			ul > li {
				padding:0 2px;
				@include float(left);
				line-height: 30px;
				letter-spacing: 1px;
			}

			ul > li > a {
				display: inline-block;
				color:$orange;
				text-decoration: none;

				&:before {
					display: inline-block;
					content:",";
				}
			}

			ul > li:first-child + li > a:before {
				display: none;
			}

		}

	}
}

//messages board
%messageBoard {
	margin-top:50px;
	width:100%;
	height:auto;
	background: #fff;
	padding-bottom:10px;

	& > h3.title {
		display: block;
		width:680px;
		height:35px;
		padding-left:5px;
		background: $blue-l;

		@include fontSize($defFont + 4);
		line-height: 35px;
		letter-spacing: 1px;
		color:#fff;
	}

	& > .MessageMain {
		display: block;
		width:665px;
		height:auto;
		margin:10px 10px 0 10px;
	}
}
