<!-- 個人生涯事件模組 -->
<div class="personEvents">
  <h3>生涯傑出表現</h3>
  <ul class="peTree">
    <li>
      <div class="peDesc">
        <span class="date">2015/04/02</span>
        <p>首次登板對橫濱灣星3回戰（名古屋巨蛋）、6局上救援登板、2回5失分</p>
      </div>
    </li>
    <li>
      <div class="peDesc">
        <span class="date">2015/04/02</span>
        <p>首次登板對橫濱灣星3回戰</p>
      </div>
    </li>
    <li>
      <div class="peDesc">
        <span class="date">2015/04/02</span>
        <p>首次登板對橫濱灣星3回戰（名古屋巨蛋）、6局上救援登板、2回5失分</p>
      </div>
    </li>
  </ul>
</div>
