<div class="personGroup pgLeft">
  <div class="topPerson">
    <a href="focusPerson-content.html">
      <img src="images/focusPerson_img.jpg" alt="">
      <span>陳偉殷</span>
    </a>
  </div>
  <div class="otherPerson">
    <ul>
      <li>
        <a href="focusPerson-content.html">
          <img src="images/focusPerson_img.jpg" alt="">
          <span>Kobe Bryant</span>
        </a>
      </li>
      <li>
        <a href="focusPerson-content.html">
          <img src="images/focusPerson_img.jpg" alt="">
          <span>美國隊長</span>
        </a>
      </li>
      <li>
        <a href="focusPerson-content.html">
          <img src="images/focusPerson_img.jpg" alt="">
          <span>鋼鐵人</span>
        </a>
      </li>
      <li>
        <a href="focusPerson-content.html">
          <img src="images/focusPerson_img.jpg" alt="">
          <span>雷神索爾</span>
        </a>
      </li>
    </ul>
  </div>
</div>
