<!-- 日期選擇模組 開始 -->
<div class="dateSelects">
  <ul>
    <li>日期</li>
    <li>
      <select name="" id="">
        <option value="">2015</option>
        <option value="">2014</option>
        <option value="">2013</option>
      </select>
      <span>年/</span>
    </li>
    <li>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">12</option>
      </select>
      <span>月/</span>
    </li>
    <li>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">31</option>
      </select>
      <span>日</span>
    </li>
  </ul>
</div>
<!-- 日期選擇模組 結束 -->
