<div class="footer">
  <div class="footerContent">
    <ul>
      <li><a href="#">我要投稿</a></li>
      <li><a href="#">人才招募</a></li>
      <li><a href="#">關於我們</a></li>
      <li><a href="#">集團簡介</a></li>
      <li><a href="#">廣告刊登/合作提案</a></li>
      <li><a href="#">客服信箱</a></li>
      <li><a href="#">Google+</a></li>
      <li><a href="#">Sitemap</a></li>
      <li><a href="#">服務條款</a></li>
      <li><a href="#">隱私權政策</a></li>
      <li><a href="#">著作權聲明</a></li>
      <li><a href="#">免責聲明</a></li>
    </ul>
    <p>東森新聞雲股份有限公司 版權所有，非經授權，不許轉載本網站內容 © ETtoday.net All Rights Reserved. 電話：+886-2-5555-6366</p>
  </div>
</div>