          <div class="gamesMain">
            <div class="todayGames">
                <div class="title">
                  今日賽事
                  <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
                </div>

                <div class="todayGamesContent">
                  <ul>
                    <li><a href="#">
                      <div class="gameCatesName">
                        MLB
                      </div>
                      <div class="gamesTeam">
                        <span class="home">樂天</span>
                        <span>V.S.</span>
                        <span class="away">阪神</span>  
                      </div>
                      <div class="timesAndarea">
                        <span class="times">18:00(比賽開始)</span>
                        <span class="area">甲子園</span>
                      </div>
                    </a></li>
                    <li><a href="#">
                      <div class="gameCatesName">
                        MLB
                      </div>
                      <div class="gamesTeam">
                        <span class="home">樂天</span>
                        <span>V.S.</span>
                        <span class="away">阪神</span>  
                      </div>
                      <div class="timesAndarea">
                        <span class="times">18:00(比賽開始)</span>
                        <span class="area">甲子園</span>
                      </div>
                    </a></li>
                    <li><a href="#">
                      <div class="gameCatesName">
                        MLB
                      </div>
                      <div class="gamesTeam">
                        <span class="home">樂天</span>
                        <span>V.S.</span>
                        <span class="away">阪神</span>  
                      </div>
                      <div class="timesAndarea">
                        <span class="times">18:00(比賽開始)</span>
                        <span class="area">甲子園</span>
                      </div>
                    </a></li>
                  </ul>
                </div>
            </div>

            <div class="nearTermGames">
                <div class="title">
                  近期活動賽事
                  <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
                </div>

                <div class="nearTermGamesContent">
                  <ul>
                    <li>
                      <div class="datesAndArea">
                        <span class="dates">
                          6月11日<br/>
                          星期二
                        </span>
                        <span class="area">台北田徑場</span>
                      </div>
                      <div class="info">
                        <h3>法網公開賽</h3>
                        <p>法國網球協會主任葉瑟(Gilbert Ysern)表示：「我想我們組織的確發生一些錯誤，之後比賽會更加強保安，並確保此事不會再發生。」</p>
                        <a class="links" href="#">相關新聞連結</a><a class="links" href="#">連至活動官網</a>
                      </div>
                    </li>
                    <li>
                      <div class="datesAndArea">
                        <span class="dates">
                          6月11日<br/>
                          星期二
                        </span>
                        <span class="area">台北田徑場</span>
                      </div>
                      <div class="info">
                        <h3>法網公開賽</h3>
                        <p>法國網球協會主任葉瑟(Gilbert Ysern)表示：「我想我們組織的確發生一些錯誤，之後比賽會更加強保安，並確保此事不會再發生。」</p>
                        <a class="links" href="#">相關新聞連結</a><a class="links" href="#">連至活動官網</a>
                      </div>
                    </li>
                    <li>
                      <div class="datesAndArea">
                        <span class="dates">
                          6月11日<br/>
                          星期二
                        </span>
                        <span class="area">台北田徑場</span>
                      </div>
                      <div class="info">
                        <h3>法網公開賽</h3>
                        <p>法國網球協會主任葉瑟(Gilbert Ysern)表示：「我想我們組織的確發生一些錯誤，之後比賽會更加強保安，並確保此事不會再發生。」</p>
                        <a class="links" href="#">相關新聞連結</a><a class="links" href="#">連至活動官網</a>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>