<!--測試廣告_轟天雷廣告 開始-->
<div style="width:1000px;margin:0 auto;text-align:center;position:relative;">
	<script language="JavaScript" type="text/javascript">
	<!-- <![CDATA[
	    var ts = Math.random();
	    document.write('<scr' + 'ipt language="JavaScript" type="text/javascript" src="http://ad.ettoday.net/ads.php?bid=test_thunder&rr='+ ts +'"></scr' + 'ipt>');
	// ]]> -->
	</script>
</div>
<!--測試廣告_轟天雷廣告 結束-->

<div class="header">
  <!-- 導航列模組 開始 -->
  <div class="navs">
    <ul>
      <li><a href="#">ETtoday新聞雲</a></li>
      <li><a href="#">手機版</a></li>
      <li><a href="#">新聞雲APPS</a></li>
      <li><a href="#">新聞訂閱</a></li>
      <li><a href="#">新聞工具列</a></li>
      <li><a href="#">微博</a></li>
      <li><a href="#">Google+</a></li>
    </ul>
  </div>
  <!-- 導航列模組 結束 -->

  <!-- 各日期比賽得分列表模組 開始 -->
  <div class="gameLists">
    <div class="selectForm">
      <div>
        <select class="gamesSelect" name="" id="">
          <option value="">MLB</option>
          <option value="">NBA</option>
          <option value="">C T</option>
        </select>
      </div>
      <div>
        <select class="dateSelect" name="" id="">
          <option value="">04/11 10:30 AM</option>
          <option value="">03/01 09:10 PM</option>
          <option value="">12/31 11:55 PM</option>
        </select>
      </div>
    </div>
    <div class="gamesShow">
      <div class="gamesShowWrap slider lazy">
        <a href="#">
          <span class="gameDate">Wed 12:55 AM 足球</span>
          <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
          <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
        </a>
        <a href="#">
          <span class="gameDate">Wed 12:55 AM 棒球</span>
          <span class="gameTeam"><i>兄弟象</i><i>999-999</i></span>
          <span class="gameTeam"><i>統一獅</i><i>999-999</i></span>
        </a>
        <a href="#">
          <span class="gameDate">Wed 12:55 AM NBA</span>
          <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
          <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
        </a>
        <a href="#">
          <span class="gameDate">Wed 12:55 AM NBA</span>
          <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
          <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
        </a>
        <a href="#">
          <span class="gameDate">Wed 12:55 AM NBA</span>
          <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
          <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
        </a>
        <a href="#">
          <span class="gameDate">Wed 12:55 AM NBA</span>
          <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
          <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
        </a>
        <a href="#">
          <span class="gameDate">Wed 12:55 AM NBA</span>
          <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
          <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
        </a>
        <a href="#">
          <span class="gameDate">Wed 12:55 AM NBA</span>
          <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
          <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
        </a>
      </div>

    </div>
  </div>
  <!-- 各日期比賽得分列表模組 結束 -->
  <div class="logo">
    <a href="index.html"></a>
  </div>
  <div class="catesAndSearch">
    <!-- 全網搜尋模組 開始 -->
    <div class="searchEngine">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="SEARCH">
    </div>
    <!-- 全網搜尋模組 結束 -->

    <!-- 選單列表模組 開始 -->
    <ul class="cates">
			<li class="active"><a href="focusp-index.html">焦點運動員</a></li>
      <li><a href="event.html">活動賽事</a></li>
      <li><a href="baseball.html">棒球</a></li>
      <li><a href="backetball.html">籃球</a></li>
      <li><a href="soccer.html">足球</a></li>
      <li><a href="cometiton.html">競技</a></li>
      <li><a href="trend">運動潮流</a></li>
      <li><a href="profiles.html">人物</a></li>
      <li><a href="video.html">影音</a></li>
      <li><a href="#">世大運</a></li>
      <li><a href="#">國際賽事</a></li>
      <li><a href="#">福斯體育</a></li>
    </ul>
    <!-- 選單列表模組 結束 -->
  </div>

  <!-- 子選單列表模組 開始 -->
  <div class="subNavs">
    <ul class="event">
      <li><a href="schedule.html">賽事戰績</a></li>
      <li><a href="game.id=YYYYMM DD00.html">比分戰報</a></li>
    </ul>
    <ul class="baseball">
      <li><a href="#">MLB</a></li>
      <li><a href="#">中職</a></li>
      <li><a href="#">日、韓職</a></li>
      <li><a href="#">國內業餘</a></li>
      <li><a href="#">國際動態</a></li>
      <li><a href="#">國家代表</a></li>
    </ul>
		<ul class="backetball">
      <li><a href="#">NBA</a></li>
      <li><a href="#">SBL</a></li>
      <li><a href="#">VBA</a></li>
      <li><a href="#">國內聯賽</a></li>
      <li><a href="#">國際動態</a></li>
      <li><a href="#">國家代表</a></li>
    </ul>
		<ul class="soccer">
			<li><a href="#">台灣足球</a></li>
      <li><a href="#">國際動態</a></li>
      <li><a href="#">國家代表</a></li>
    </ul>
		<ul class="cometiton">
      <li><a href="#">陸上、水上</a></li>
      <li><a href="#">技擊、球類</a></li>
    </ul>
		<ul class="trend">
      <li><a href="#">女子運動</a></li>
      <li><a href="#">路跑戶外</a></li>
			<li><a href="#">新品資訊</a></li>
    </ul>
		<ul class="video">
      <li><a href="handy.html">影音隨手拍</a></li>
      <li><a href="interview.html">私房訪問</a></li>
			<li><a href="challenge.html">誰來挑戰</a></li>
    </ul>
  </div>
  <!-- 子選單列表模組 結束 -->

</div>
<!--onead 果實廣告 in-page 開始-->
<div class="inpage" style="width:1000px;margin:0 auto 10px auto;">
	<script type="text/javascript" src="http://cache.ettoday.net/ad/onead/onead-multiple.js"></script>
	<div id="div-onead-ad">
	    <script type="text/javascript">
			if (typeof(ONEAD) !== "undefined"){
				ONEAD.cmd = ONEAD.cmd || [];
				ONEAD.cmd.push(function(){
					ONEAD_slot('div-onead-ad');
				});
			}
	    </script>
	</div>
</div>
<!--onead 果實廣告 in-page 結束-->


<!-- 測試廣告_超級大橫幅 start-->
<div style="width:970px;margin:15px auto;text-align:center">
	<script language="JavaScript" type="text/javascript">
	<!-- <![CDATA[
	    var ts = Math.random();
	    document.write('<scr' + 'ipt language="JavaScript" type="text/javascript" src="http://ad.ettoday.net/ads.php?bid=test_970x90&rr='+ ts +'"></scr' + 'ipt>');
	// ]]> -->
	</script>
</div>
<!-- 測試廣告_超級大橫幅 end-->
