<div class="header">
  <div class="navs">
    <ul>
      <li><a href="#">ETtoday新聞雲</a></li>
      <li><a href="#">手機版</a></li>
      <li><a href="#">新聞雲APPS</a></li>
      <li><a href="#">新聞訂閱</a></li>
      <li><a href="#">新聞工具列</a></li>
      <li><a href="#">微博</a></li>
      <li><a href="#">Google+</a></li>
    </ul>
  </div>
  <div class="gameLists">
    <div class="selectForm">
      <div>
        <select class="gamesSelect" name="" id="">
          <option value="">MLB</option>
          <option value="">NBA</option>
          <option value="">C T</option>
        </select>              
      </div>
      <div>
        <select class="dateSelect" name="" id="">
          <option value="">04/11 10:30 AM</option>
          <option value="">03/01 09:10 PM</option>
          <option value="">12/31 11:55 PM</option>
        </select>              
      </div>
    </div>
    <div class="gamesShow">
      <a class="prev" href="javascript:void(0);">
        <i class="fa fa-angle-left fa-5x"></i>
      prev
      </a>
      <a class="next" href="javascript:void(0);">
        <i class="fa fa-angle-right fa-5x"></i>
      next</a>
      
      <div class="gamesShowWrap">
        <div>
          <ul>
            <li><a href="#">
              <span class="gameDate">Wed 12:55 AM NBA</span>
              <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
              <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
            </a></li>
            <li><a href="#">
              <span class="gameDate">Wed 12:55 AM NBA</span>
              <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
              <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
            </a></li>
            <li><a href="#">
              <span class="gameDate">Wed 12:55 AM NBA</span>
              <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
              <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
            </a></li>
            <li><a href="#">
              <span class="gameDate">Wed 12:55 AM NBA</span>
              <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
              <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
            </a></li>
            <li><a href="#">
              <span class="gameDate">Wed 12:55 AM NBA</span>
              <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
              <span class="gameTeam"><i>WSH</i><i>5-3</i></span>
            </a></li>
            <li><a href="#">
              <span class="gameDate">Wed 12:55 AM NBA</span>
              <span class="gameTeam"><i>BOS</i><i>3-5</i></span>
              <span class="gameTeam"><i>WSH</i><i>5-3</i></span>          
            </a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
  <div class="logo">
    <a href="#"><img src="images/logo.png" alt=""></a>
  </div>
  <div class="catesAndSearch">
    <div class="searchEngine">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="SEARCH">
    </div>

    <ul class="cates">
      <li class="active"><a href="#">活動賽事</a></li>
      <li><a href="#">棒球</a></li>
      <li><a href="#">籃球</a></li>
      <li><a href="#">足球</a></li>
      <li><a href="#">競技</a></li>
      <li><a href="#">運動潮流</a></li>
      <li><a href="#">人物</a></li>
      <li><a href="#">影音</a></li>
      <li><a href="#">世大運</a></li>
      <li><a href="#">國際賽事</a></li>
      <li><a href="#">福斯體育</a></li>
    </ul>
  </div>

  <div class="subNavs">
    <ul>
      <li><a href="#">賽事戰績</a></li>
      <li><a href="#">比分戰報</a></li>
    </ul>

    <ul>
      <li><a href="#">MLB</a></li>
      <li><a href="#">中職</a></li>
      <li><a href="#">日、韓職</a></li>
      <li><a href="#">國內業餘</a></li>
      <li><a href="#">國際動態</a></li>
      <li><a href="#">國家代表</a></li>
    </ul>         
  </div>

</div>