            <ul>
              <li>
                <div class="newsListCover">
                  <a href="#">
                    <img src="images/newsLists_coverDemo.jpg" alt="">
                  </a>
                </div>
                <div class="newsListDes">
                  <a class="title" href="#">
                    <span>
                      金鶯、白襪延賽　陳偉殷改到5∕4先發金鶯、白襪延賽陳偉殷改到5∕4先發
                    </a>
                  </span>
                  <a class="texts" href="#">
                    <span>
                      由於巴爾的摩當地暴動，白襪與金鶯3連戰前2場被迫延賽，系列賽最後1場將如期進行，但時間提前到當地下午2點05分開打，但不開放球迷進場，此外在不更動先發輪值情況下...(2015-05-24 12:31)
                    </span>
                  </a>

                  <div class="keywords">
                    <ul>
                      <li>關鍵字：</li>
                      <li><a href="#">台灣足球</a></li>
                      <li><a href="#">足球</a></li>
                    </ul>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="newsListCover">
                  <a href="#">
                    <img src="images/newsLists_coverDemo.jpg" alt="">
                  </a>
                </div>
                <div class="newsListDes">
                  <a class="title" href="#">
                    <span>
                      金鶯、白襪延賽　陳偉殷改到5∕4先發金鶯、白襪延賽陳偉殷改到5∕4先發
                    </a>
                  </span>
                  <a class="texts" href="#">
                    <span>
                      由於巴爾的摩當地暴動，白襪與金鶯3連戰前2場被迫延賽，系列賽最後1場將如期進行，但時間提前到當地下午2點05分開打，但不開放球迷進場，此外在不更動先發輪值情況下...(2015-05-24 12:31)
                    </span>
                  </a>

                  <div class="keywords">
                    <ul>
                      <li>關鍵字：</li>
                      <li><a href="#">台灣足球</a></li>
                      <li><a href="#">足球</a></li>
                    </ul>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="newsListCover">
                  <a href="#">
                    <img src="images/newsLists_coverDemo.jpg" alt="">
                  </a>
                </div>
                <div class="newsListDes">
                  <a class="title" href="#">
                    <span>
                      金鶯、白襪延賽　陳偉殷改到5∕4先發金鶯、白襪延賽陳偉殷改到5∕4先發
                    </a>
                  </span>
                  <a class="texts" href="#">
                    <span>
                      由於巴爾的摩當地暴動，白襪與金鶯3連戰前2場被迫延賽，系列賽最後1場將如期進行，但時間提前到當地下午2點05分開打，但不開放球迷進場，此外在不更動先發輪值情況下...(2015-05-24 12:31)
                    </span>
                  </a>

                  <div class="keywords">
                    <ul>
                      <li>關鍵字：</li>
                      <li><a href="#">台灣足球</a></li>
                      <li><a href="#">足球</a></li>
                    </ul>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="newsListCover">
                  <a href="#">
                    <img src="images/newsLists_coverDemo.jpg" alt="">
                  </a>
                </div>
                <div class="newsListDes">
                  <a class="title" href="#">
                    <span>
                      金鶯、白襪延賽　陳偉殷改到5∕4先發金鶯、白襪延賽陳偉殷改到5∕4先發
                    </a>
                  </span>
                  <a class="texts" href="#">
                    <span>
                      由於巴爾的摩當地暴動，白襪與金鶯3連戰前2場被迫延賽，系列賽最後1場將如期進行，但時間提前到當地下午2點05分開打，但不開放球迷進場，此外在不更動先發輪值情況下...(2015-05-24 12:31)
                    </span>
                  </a>

                  <div class="keywords">
                    <ul>
                      <li>關鍵字：</li>
                      <li><a href="#">台灣足球</a></li>
                      <li><a href="#">足球</a></li>
                    </ul>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="newsListCover">
                  <a href="#">
                    <img src="images/newsLists_coverDemo.jpg" alt="">
                  </a>
                </div>
                <div class="newsListDes">
                  <a class="title" href="#">
                    <span>
                      金鶯、白襪延賽　陳偉殷改到5∕4先發金鶯、白襪延賽陳偉殷改到5∕4先發
                    </a>
                  </span>
                  <a class="texts" href="#">
                    <span>
                      由於巴爾的摩當地暴動，白襪與金鶯3連戰前2場被迫延賽，系列賽最後1場將如期進行，但時間提前到當地下午2點05分開打，但不開放球迷進場，此外在不更動先發輪值情況下...(2015-05-24 12:31)
                    </span>
                  </a>

                  <div class="keywords">
                    <ul>
                      <li>關鍵字：</li>
                      <li><a href="#">台灣足球</a></li>
                      <li><a href="#">足球</a></li>
                    </ul>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="newsListCover">
                  <a href="#">
                    <img src="images/newsLists_coverDemo.jpg" alt="">
                  </a>
                </div>
                <div class="newsListDes">
                  <a class="title" href="#">
                    <span>
                      金鶯、白襪延賽　陳偉殷改到5∕4先發金鶯、白襪延賽陳偉殷改到5∕4先發
                    </a>
                  </span>
                  <a class="texts" href="#">
                    <span>
                      由於巴爾的摩當地暴動，白襪與金鶯3連戰前2場被迫延賽，系列賽最後1場將如期進行，但時間提前到當地下午2點05分開打，但不開放球迷進場，此外在不更動先發輪值情況下...(2015-05-24 12:31)
                    </span>
                  </a>

                  <div class="keywords">
                    <ul>
                      <li>關鍵字：</li>
                      <li><a href="#">台灣足球</a></li>
                      <li><a href="#">足球</a></li>
                    </ul>
                    
                  </div>
                </div>
              </li>
            </ul>