<div class="slideNews">
  <div class="slideNewsMain slider fade">
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第1名"></a></div>
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第2名"></a></div>
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第3名"></a></div>
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第4名"></a></div>
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第5名"></a></div>
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第6名"></a></div>
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第7名"></a></div>
      <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第8名"></a></div>
  </div>

  <div class="slideNavs"></div>
</div>

<div class="latestVideos">
  <div class="lvTitle">
    最新影音
    <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
  </div>
  <div class="lvContent">
    <ul>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/7X9QYfwTuE8?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/mL7QDUrxGUw?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/diNcavB4oYQ?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
    </ul>
  </div>
</div>

<div class="foucsNews">
  <ul>
    <li>
      <div class="focusTitle">
        體育焦點
        <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
      </div>
      <div class="foucsGroup">
        <ul>
          <li class="fgMain">
            <a href="#">
              <img src="images/fg_cover.jpg" alt="">
              <span class="fgMainText">NBA／洛城生涯告終？  美媒：湖人仍有留林書豪機會</span>
              <span class="fgMainDes">
                洛杉磯媒體仍意有所指的表示，「憑藉明星賽後的亮眼表現，湖人球團仍有機會與林書豪進行續約動作。」
              </span>
            </a>
          </li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
        </ul>

      </div>
    </li>
    <li>
      <div class="focusTitle">
        體育焦點
        <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
      </div>
      <div class="foucsGroup">
        <ul>
          <li class="fgMain">
            <a href="#">
              <img src="images/fg_cover.jpg" alt="">
              <span class="fgMainText">NBA／洛城生涯告終？  美媒：湖人仍有留林書豪機會</span>
              <span class="fgMainDes">
                洛杉磯媒體仍意有所指的表示，「憑藉明星賽後的亮眼表現，湖人球團仍有機會與林書豪進行續約動作。」
              </span>
            </a>
          </li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
        </ul>

      </div>
    </li>
    <li>
      <div class="focusTitle">
        體育焦點
        <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
      </div>
      <div class="foucsGroup">
        <ul>
          <li class="fgMain">
            <a href="#">
              <img src="images/fg_cover.jpg" alt="">
              <span class="fgMainText">NBA／洛城生涯告終？  美媒：湖人仍有留林書豪機會</span>
              <span class="fgMainDes">
                洛杉磯媒體仍意有所指的表示，「憑藉明星賽後的亮眼表現，湖人球團仍有機會與林書豪進行續約動作。」
              </span>
            </a>
          </li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
        </ul>

      </div>
    </li>
    <li>
      <div class="focusTitle">
        體育焦點
        <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
      </div>
      <div class="foucsGroup">
        <ul>
          <li class="fgMain">
            <a href="#">
              <img src="images/fg_cover.jpg" alt="">
              <span class="fgMainText">NBA／洛城生涯告終？  美媒：湖人仍有留林書豪機會</span>
              <span class="fgMainDes">
                洛杉磯媒體仍意有所指的表示，「憑藉明星賽後的亮眼表現，湖人球團仍有機會與林書豪進行續約動作。」
              </span>
            </a>
          </li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
          <li class="fgSub"><a class="fa fa-angle-double-right" href="#">湖人輸球大噩夢　克拉克森腳傷退</a></li>
        </ul>

      </div>
    </li>
  </ul>
</div>