          <div class="multiActive">
            <!-- 各類運動新聞輪播模組 開始 -->
            <div class="slideNews multiActiveNews">
              <div class="slideNewsMain">
                  <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第1名"></a></div>
                  <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第2名"></a></div>
                  <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第3名"></a></div>
                  <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第4名"></a></div>
                  <div><a href="#"><img src="images/slideNews_pic.jpg" alt="球神梅西口碑佳 全台票房第5名"></a></div>
              </div>
            </div>
            <!-- 各類運動新聞輪播模組 結束 -->


            <!-- 各類運動新聞模組 開始 -->
            <div class="specialGroup">
              <div class="sgTitle">
                MLB
                <a class="moresLink" href="photolib-index.html"><i class="fa fa-plus"></i></a>
              </div>
              <div class="sgContent">
                <ul>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 各類運動新聞模組 結束 -->

            <!-- 各類運動新聞模組 開始 -->
            <div class="specialGroup">
              <div class="sgTitle">
                中 職
                <a class="moresLink" href="photolib-index.html"><i class="fa fa-plus"></i></a>
              </div>
              <div class="sgContent">
                <ul>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 各類運動新聞模組 結束 -->

            <!-- 各類運動新聞模組 開始 -->
            <div class="specialGroup">
              <div class="sgTitle">
                日、韓職
                <a class="moresLink" href="photolib-index.html"><i class="fa fa-plus"></i></a>
              </div>
              <div class="sgContent">
                <ul>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                  <li>
                    <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
                    <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 各類運動新聞模組 結束 -->

          </div>
