<!-- 頁碼共用模組 開始 -->
<div class="pageNums">
  <ul>

    <li><a href="#">&lt;&lt;</a></li>
    <li><a href="#">&lt;</a></li>
    <li class="nums active"><a href="#">1</a></li>
    <li class="nums"><a href="#">2</a></li>
    <li class="nums"><a href="#">3</a></li>
    <li class="nums"><a href="#">4</a></li>
    <li class="nums"><a href="#">5</a></li>
    <li class="nums"><a href="#">6</a></li>
    <li class="nums"><a href="#">7</a></li>
    <li class="nums"><a href="#">8</a></li>
    <li class="nums"><a href="#">9</a></li>
    <li class="nums"><a href="#">10</a></li>
    <li><a href="#">&gt;</a></li>
    <li><a href="#">&gt;&gt;</a></li>
  </ul>
  <p>第<span>1</span>頁 | 共<span>19</span>頁 (<span>228</span>則)</p>
</div>
<!-- 頁碼共用模組 結束 -->
