          <div class="photolibContent">
            <h2>NBA精彩賽事</h2>
            
            <div class="photolibCover slider single-item">
              <div>
                include "photolib/_module-mainPhoto.html"
              </div>
              <div>
                include "photolib/_module-mainPhoto.html"
              </div>
              <div>
                include "photolib/_module-mainPhoto.html"
              </div>
              <div>
                include "photolib/_module-mainPhoto.html"
              </div>
            </div>

            <div class="photolibMessage">
              <h3 class="title">網友留言</h3>
              <div class="photolibMessageMain">
                <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="665px" data-numposts="5"></div>
              </div>
            </div>
          </div>