<!-- 測試廣告_巨幅(上) start-->
<script language="JavaScript" type="text/javascript">
<!-- <![CDATA[
var ts = Math.random();
document.write('<scr' + 'ipt language="JavaScript" type="text/javascript" src="http://ad.ettoday.net/ads.php?bid=test_300x250_top&rr='+ ts +'"></scr' + 'ipt>');
// ]]> -->
</script>
<!-- 測試廣告_巨幅(上) start-->

<!-- 賽事即時戰報模組 開始 -->
<div class="gameLiveScore">
  <div class="glsTitle">賽事戰報</div>
  <div class="glsContent">
    <div class="liveText">即時比數</div>

    <div class="scores homeTeam">
      <span class="area">洛杉磯</span>
      <span class="name">湖人</span>
      <span class="teamScore">110</span>
    </div>

    <div class="scores awayTeam">
      <span class="area">丹佛</span>
      <span class="name">金塊</span>
      <span class="teamScore">101</span>
    </div>

  </div>
</div>
<!-- 賽事即時戰報模組 結束 -->

<!-- 焦點運動員模組 開始 -->
<div class="focusPerson">
  <div class="fpTitle">
    焦點運動員
    <a class="moresLink" href="focusp-index.html"><i class="fa fa-plus"></i></a>
  </div>
  <div class="fpContent">
    <ul class="fpNavs">
      <li class="active"><a href="javascript:void(0);">全球關注</a></li>
      <li><a href="javascript:void(0);">運動雲之星</a></li>
    </ul>
    <div class="fpZones">
      <ul>
        <li class="current"><a href="focusp-content.html">
          <span>1</span>
          <img src="images/focusPersonDemo.jpg" alt="">
          <div class="fpName">朗多</div>
        </a></li>
        <li><a href="focusp-content.html">
          <span>2</span>
          <img src="images/focusPersonDemo.jpg" alt="">
          <div class="fpName">曹錦輝</div>
        </a></li>
        <li><a href="focusp-content.html">
          <span>3</span>
          <img src="images/focusPersonDemo.jpg" alt="">
          <div class="fpName">美國隊長</div>
        </a></li>
      </ul>

    </div>
    <div class="fpZones">
      <ul>
        <li class="current"><a href="focusp-content.html">
          <span>1</span>
          <img src="images/focusPersonDemo.jpg" alt="">
          <div class="fpName">朗多</div>
        </a></li>
        <li><a href="focusp-content.html">
          <span>2</span>
          <img src="images/focusPersonDemo.jpg" alt="">
          <div class="fpName">曹錦輝</div>
        </a></li>
        <li><a href="focusp-content.html">
          <span>3</span>
          <img src="images/focusPersonDemo.jpg" alt="">
          <div class="fpName">美國隊長</div>
        </a></li>
      </ul>

    </div>

  </div>
</div>
<!-- 焦點運動員模組 結束 -->

<!-- google廣告模組 開始 -->
<div>
  <a href="#"><img src="images/gAD-2.jpg" alt=""></a>
</div>
<!-- google廣告模組 結束 -->

<!-- 最新新聞模組 開始 -->
<div class="latestNews">
  <div class="lnsTitle">
    最新新聞
    <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
  </div>
  <div class="newsContent">
    <ul>
      <li><a href="#"><i>1</i> 為青春留念Amis難忘寒冬拍寫真書</a></li>
      <li><a href="#"><i>2</i> 為青春留念Amis難忘寒冬拍寫真書</a></li>
      <li><a href="#"><i>3</i> 為青春留念Amis難忘寒冬拍寫真書</a></li>
      <li><a href="#"><i>4</i> 為青春留念Amis難忘寒冬拍寫真書</a></li>
      <li><a href="#"><i>5</i> 為青春留念Amis難忘寒冬拍寫真書</a></li>
    </ul>
  </div>
</div>
<!-- 最新新聞模組 結束 -->


<!-- google廣告模組 開始 -->
<div>
  <a href="#"><img src="images/gAD-3.jpg" alt=""></a>
</div>
<!-- google廣告模組 結束 -->

<!-- 近期活動模組 開始 -->
<div class="nearTermEvents">
  <div class="nteTitle">
    近期活動
    <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
  </div>
  <div class="nteContent">
    <ul>
      <li><a href="#">
          <div class="date">4/11</div>
          <div class="texts">國家地理頻道「世界地球日」路跑 12日</div>
          <div class="btnGo">GO</div>
        </a></li>
      <li><a href="#">
          <div class="date">4/12</div>
          <div class="texts">國家地理頻道「世界地球日」路跑 12日</div>
          <div class="btnGo">GO</div>
        </a></li>
      <li><a href="#">
          <div class="date">4/13</div>
          <div class="texts">國家地理頻道「世界地球日」路跑 12日</div>
          <div class="btnGo">GO</div>
        </a></li>
      <li><a href="#">
          <div class="date">4/14</div>
          <div class="texts">國家地理頻道「世界地球日」路跑 12日</div>
          <div class="btnGo">GO</div>
        </a></li>
      <li><a href="#">
          <div class="date">4/15</div>
          <div class="texts">國家地理頻道「世界地球日」路跑 12日</div>
          <div class="btnGo">GO</div>
        </a></li>
    </ul>
  </div>
</div>
<!-- 近期活動模組 結束 -->

<!-- google廣告模組 開始 -->
<div>
  <a href="#"><img src="images/gAD-4.jpg" alt=""></a>
</div>
<!-- google廣告模組 結束 -->
