<div class="subVideos">
  <div class="leadVideo">
    <iframe width="100%" height="270" src="https://www.youtube-nocookie.com/embed/7X9QYfwTuE8?showinfo=0" frameborder="0" allowfullscreen></iframe>

    <a href="#">
      <span class="lvdTitle">「5鷹齊飛」射穿籃網　老鷹晉級只差一步</span>
      <span class="lvdDes">連續兩戰於對手布魯克林籃網主場失利，東區霸主亞特蘭大老鷹知道，關鍵第5戰非得拿出真本事才行！在團隊「先發5鷹」合力包辦多達91分帶動下，老鷹107比97捍衛主場成功，系列取得「3比2」...</span>
    </a>
    
  </div>
  <div class="otherVideos">
    <div>
      <iframe width="100%" height="135" src="https://www.youtube-nocookie.com/embed/7X9QYfwTuE8?showinfo=0" frameborder="0" allowfullscreen></iframe>
      <a href="#">「5鷹齊飛」射穿籃網　老鷹晉級只差一步</a>
    </div>
    <div>
      <iframe width="100%" height="135" src="https://www.youtube-nocookie.com/embed/7X9QYfwTuE8?showinfo=0" frameborder="0" allowfullscreen></iframe>
      <a href="#">「5鷹齊飛」射穿籃網　老鷹晉級只差一步</a>
    </div>
    
  </div>
</div>

<div class="specialGroup">
  <div class="sgTitle">
    精彩圖集
    <a class="moresLink" href="photolib-index.html"><i class="fa fa-plus"></i></a>
  </div>
  <div class="sgContent">
    <ul>
      <li>
        <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
        <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
        <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <div class="coverImg"><a href="photolib-content.html"><img src="images/coverImg.jpg" alt=""></a></div>
        <a href="photolib-content.html">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
    </ul>
  </div>
</div>

<div class="specialGroup">
  <div class="sgTitle">
    影音隨手拍
    <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
  </div>
  <div class="sgContent">
    <ul>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/7X9QYfwTuE8?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/mL7QDUrxGUw?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/diNcavB4oYQ?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
    </ul>
  </div>
</div>

<div class="specialGroup">
  <div class="sgTitle">
    私房訪問
    <a class="moresLink" href="#"><i class="fa fa-plus"></i></a>
  </div>
  <div class="sgContent">
    <ul>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/7X9QYfwTuE8?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/mL7QDUrxGUw?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
      <li>
        <iframe width="221" height="125" src="https://www.youtube-nocookie.com/embed/diNcavB4oYQ?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <a href="#">NBA／連10戰飆破「25分」哈登領軍主場滅蜂</a>
      </li>
    </ul>
  </div>
</div>