          <div class="videoShow">
            <!-- 影音選擇 結束 -->
            <div class="videoShowSelect">
                <div class="title">
                  影片排列方式
                  <select name="" id="videoSelect" class="fliter">
                    <option value="all" selected>全部</option>
                    <option value="hot">熱門</option>
                    <option value="live">直播</option>
                  </select>
                </div>
            </div>
            <!-- 影音選擇 結束 -->

            <!-- 影音選擇播放模組 開始 -->
            <div class="videoShowRoom slider filtering">
              <div class="hot">
                <h3>NBA／連10戰飆破「25分」哈登領軍主場滅蜂1</h3>
                <iframe width="100%" height="365" src="https://www.youtube.com/embed/AJL_RnFlwZU" frameborder="0" allowfullscreen></iframe>
                <p>
                  法國網球協會主任葉瑟(Gilbert Ysern)表示：「我想我們組織的確發生一些錯誤，之後比賽會更加強保安，並確保此事不會再發生。」
                </p>
              </div>
              <div class="live">
                <h3>NBA／連10戰飆破「25分」哈登領軍主場滅蜂2</h3>
                <iframe width="100%" height="365" src="https://www.youtube.com/embed/AJL_RnFlwZU" frameborder="0" allowfullscreen></iframe>
                <p>
                  法國網球協會主任葉瑟(Gilbert Ysern)表示：「我想我們組織的確發生一些錯誤，之後比賽會更加強保安，並確保此事不會再發生。」
                </p>
              </div>
              <div>
                <h3>NBA／連10戰飆破「25分」哈登領軍主場滅蜂3</h3>
                <iframe width="100%" height="365" src="https://www.youtube.com/embed/AJL_RnFlwZU" frameborder="0" allowfullscreen></iframe>
                <p>
                  法國網球協會主任葉瑟(Gilbert Ysern)表示：「我想我們組織的確發生一些錯誤，之後比賽會更加強保安，並確保此事不會再發生。」
                </p>
              </div>
              <div class="hot">
                <h3>NBA／連10戰飆破「25分」哈登領軍主場滅蜂4</h3>
                <iframe width="100%" height="365" src="https://www.youtube.com/embed/AJL_RnFlwZU" frameborder="0" allowfullscreen></iframe>
                <p>
                  法國網球協會主任葉瑟(Gilbert Ysern)表示：「我想我們組織的確發生一些錯誤，之後比賽會更加強保安，並確保此事不會再發生。」
                </p>
              </div>
            </div>
          </div>
