                <!-- 圖集內頁相片模組 開始 -->
                <div class="imgDetails">
                  <img src="images/photolib-demo.jpg" alt="">
                  <span>
                    ▲ 勇士明星控衛柯瑞重摔落地，此戰要回歸機率恐不高。（圖/CFP    拍攝時間/05-26 14:30）
                  </span>
                  <div class="socialGroup">

                  </div>
                  <div class="relatedNewsLink">
                    <a href="#">相關新聞連結</a>
                  </div>
                </div>
                <!-- 圖集內頁相片模組 結束 -->
