            <div class="scores">
              <div class="scoreNav">
                <ul>
                  <li><a href="javascript:void(0);">NBA</a></li>
                  <li><a href="javascript:void(0);">中 職</a></li>
                  <li><a href="javascript:void(0);">日 職</a></li>
                </ul>
              </div>
              
              <div class="scoresCotent">
                <div class="nbaScores">
                  <ul>
                    <li>
                      <h3>東區</h3>
                      <table class="recordTable nbaScoreTable">
                        <tr>
                          <td>名次</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                      </table>
                    </li>
                    <li>
                      <h3>西區</h3>
                      <table class="recordTable nbaScoreTable">
                        <tr>
                          <td>名次</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                      </table>
                    </li>
                    <li>
                      <h3>不分區名次</h3>
                      <table class="recordTable nbaScoreTable">
                        <tr>
                          <td>名次</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>大西洋組</td>
                          <td>中央組</td>
                          <td>東南組</td>
                        </tr>
                      </table>                      
                    </li>
                  </ul>

                  <h3>東區大西洋組</h3>
                  <table class="recordTable teamScoreTable">
                    <tr>
                      <td>隊名</td>
                      <td>勝</td>
                      <td>負</td>
                      <td>勝率</td>
                      <td>差率</td>
                      <td>主場</td>
                      <td>客場</td>
                      <td>分組</td>
                      <td>聯盟</td>
                      <td>近10場</td>
                    </tr>
                    <tr>
                      <td>湖人</td>
                      <td>99</td>
                      <td>99</td>
                      <td>.999</td>
                      <td>9.9</td>
                      <td>99-99</td>
                      <td>99-99</td>
                      <td>99-99</td>
                      <td>99-99</td>
                      <td>1-9</td>
                    </tr>
                  </table>

                </div>
                <div>2</div>
                <div>3</div>
              </div>
            </div>