            <div class="gamesDate">
              <table class="recordTable gamesDateTable">
                <tr>
                  <td>比賽日期</td>
                  <td>比賽時間</td>
                  <td>主隊</td>
                  <td>比數</td>
                  <td>客隊</td>
                  <td>文字直播</td>
                </tr>
                <tr>
                  <td>2015-05-23</td>
                  <td>12:59</td>
                  <td>湖人</td>
                  <td>999:999</td>
                  <td>金塊</td>
                  <td><a href="#">看比賽紀錄</a></td>
                </tr>
                <tr>
                  <td>2015-05-23</td>
                  <td>12:59</td>
                  <td>湖人</td>
                  <td>999:999</td>
                  <td>金塊</td>
                  <td><a href="#">看比賽紀錄</a></td>
                </tr>
                <tr>
                  <td>2015-05-23</td>
                  <td>12:59</td>
                  <td>湖人</td>
                  <td>999:999</td>
                  <td>金塊</td>
                  <td><a href="#">看比賽紀錄</a></td>
                </tr>
                <tr>
                  <td>2015-05-23</td>
                  <td>12:59</td>
                  <td>湖人</td>
                  <td>999:999</td>
                  <td>金塊</td>
                  <td><a href="#">看比賽紀錄</a></td>
                </tr>
              </table>
            </div>