.contents {
	margin-top:20px;
	width: 100%;
	height:auto;
	@include pie-clearfix;

	& > .main {
		@include float(left);
		width:685px;
		height:auto;
	}

	& > .sub {
		@include float(right);
		width:300px;
		height:auto;

	}
}


//main and sub
div.main, div.sub {
	& > div {
		margin-bottom:20px;
		width: 100%;
		height:auto;
	}
}


//slideNews
.slideNews {
	position: relative;
	height:310px;

	.slideNewsMain {
		position: relative;
		top:0;
		left:0;
		width:445px;
		height:310px;
		overflow: hidden;

		& > .slideContent {
			width:2000em;
			height:100%;

			transform: translate3d(0,0,0);
			transition: .5s;

			@include pie-clearfix;
		}
		& > .slideContent > div {
			@include float(left);
			background:#fff;
		}
	}


	& > .slideNavs {
		position: absolute;
		top:0;
		right:0;

		width:240px;
		height:auto;

		li {
			display: block;
			width:100%;
			height:38px;
			background: #000;
			&:hover, &.active { background: $blue; }

			a {
				display: block;
				width:230px;
				height:37px;
				margin-top:1px;
				padding-left: 10px;

				color:#fff;
				line-height: 37px;
				text-decoration: none;
				letter-spacing: 1px;



			}

			&:first-child a { margin-top:0; }

		}
	}

}

//latestVideos
.latestVideos {
	.lvTitle {
		@extend %titleStyle;

		&:before {
			content:"▶";
			padding:0;
			background: $blue;

			@include fontSize($defFont + 2);
			font-style: normal;
			text-align: center;
			line-height: 31px;
		}
	}

	.lvContent {
		@extend %videoGroup;
	}
}


//focusNews
.foucsNews {
	margin-top: 20px;

	& > ul > li {
		@include float(left);
		display: block;

		width:337px;
		height:auto;
		margin-left:11px;
		margin-top:10px;

		&:nth-child(2n+1) {
			margin-left:0;
		}
	}

	//title
	.focusTitle {
		@extend %titleStyle;

		width:327px;
		background: $blue;
		padding-left: 10px;
		&:before { display: none; }
	}

	//mainGroup
	.foucsGroup {
		display: block;
		width:100%;
		height:auto;
	}


	.foucsGroup > ul > li {
		display: block;
		width:100%;
		height:auto;
		overflow-x:hidden;

		a {
			display: block;
			width:100%;
		}

		&.fgMain > a {
			height:auto;
			background: #fff;
			text-decoration: none;
			padding-bottom:10px;
		}

		&.fgMain {
			& > a > span {
				display: block;
				width:307px;
				padding:0 15px;

				letter-spacing: 1px;
			}

			.fgMainText {
				@include fontSize($defFont + 5);
				font-weight:bolder;
				line-height: 25px;
				color:#000;
			}

			.fgMainDes {
				margin-top:5px;

				@include fontSize($defFont - 2);
				line-height: 16px;
				color:$gray-d;

			}
		}


		&.fgSub {
			height:39px;
			background: $gray-l;
			border-top:1px solid #fff;

			& > a {
				position: relative;
				padding-left:10px;

				color:#000;
				line-height: 39px;
				text-decoration: none;

				&:before {
					position: absolute;
					right:20px;

					@include fontSize($defFont + 16);
					color:$gray;
				}
			}
		}
	}
}
