/** 底部版權宣告樣式 **/
.footer {
	position: relative;
	margin-top: 15px;
	width:100%;
	height:85px;
	border-top:1px solid $gray;

	& > .footerContent {
		position: absolute;
		width:1000px;
		height:100%;
		top:0;
		left:50%;
		margin-left: -500px;

		text-align: center;

	}

	& > .footerContent > ul {
		display: inline-block;
		@include pie-clearfix;
		padding-top: 20px;
	}

	& > .footerContent > ul > li {
		@include float(left);

		border-left:1px solid #fff;
		padding:0 8px;

		&:first-child { border-left:0; }

		a {
			@include fontSize($defFont - 1);
			color:#fff;
			text-decoration: none;
			letter-spacing: 1px;
		}
	}

	& > .footerContent > p {
		margin-top: 15px;
		@include fontSize($defFont - 1);
		color:#fff;
		letter-spacing: 1px;
	}
}
