//gamesList select
.gameLists {
	position: relative;
	height:85px;
	background: #fff;
	@include pie-clearfix;

	.selectForm {
		@include float(left);
		width:170px;
		height:100%;

		& > div {
			height:42px;
			select { height:42px; }
			
			&:first-child { 
				height:41px;
				border-bottom: 1px solid $gray;
				select { height: 41px; }
			}

			select {
				width:100%;
				text-align: center;
	  			-moz-appearance: button;
	  			-webkit-appearance: none;
	  			appearance: none;
	  			border:0px;
	  			background: #fff;

				text-align: center;
				color:$gray;
				@include fontSize($defFont);
				letter-spacing: 2px;
				

				&.gamesSelect { padding-left: 40%; }
				&.dateSelect { padding-left: 12%; }
			
			}
		}


	}

	.gamesShow {
		position: relative;
		@include float(left);
		width:829px;
		height:100%;
		border-left:1px solid $gray;

		& > .prev,
		& > .next {
			position: absolute;
			top:0;

			display: block;
			width:69px;
			height:0;
			padding-top: 85px;
			overflow: hidden;

			text-align: center;
			line-height: 85px;

			& > i {
				position: absolute;
				top:0;
				left:0;

				display: block;
				width:100%;
				height:100%;

				text-align: center;
				line-height: 81px;
				color:$gray;
			}
		}

		& > .prev {
			left:0;
			border-right:1px solid $gray;
		}

		& > .next {
			right:0;
			width:68px;
			border-right:1px solid #000;
			border-left:1px solid $gray;
		}
	}


	.gamesShowWrap {
		position: relative;
		top:0;
		left:70px;
		width:689px;
		height:100%;
		overflow: hidden;
	
		& > div {
			position: absolute;
			top:0;
			left:0;
			width:1000em;
			height:100%;
		}

		& > div > ul > li {
			@include float(left);

			display: block;
			width:114px;
			height:85px;
			border-right:1px solid $gray;


			&:last-child { border-right:0px; }
		}


		& > div > ul > li > a {
			display: block;
			width:100%;
			height:100%;

			color:$gray;
			text-decoration: none;

			&:hover {
				background: $blue;
				color:#fff;
			}
		}
	}

	.gamesShowWrap > div > ul > li > a {
		& > span { 
			display: block; 
			width:100%;
			height:auto;
		}
		
		.gameDate {
			text-align: center;
			@include fontSize($defFont - 4);
			line-height:20px;

		}

		.gameTeam {
			position: relative;
			
			height:30px;
			@include fontSize($defFont+2);
			line-height: 30px;
			letter-spacing: 1px;

			& > i {
				position: absolute;
				top:0;
				
				&:first-child {
					left:10px;
				}
				
				&:first-child + i {		
					right:10px;
				}
			}
		}


	}


}