/** 圖集首頁照片列表樣式 **/
.main > div.photolibMain {
	@extend %videoGroup;

	//custom page design
	height:auto;
	margin-top:0;
	margin-bottom: 12.5px;

	& > ul > li {
		margin-top:12.5px;

		&:nth-child(3n+1) {
			margin-left:0;
		}
	}
}
