/** 影音圖集首頁-影音撥放模組樣式 **/
.main > div.subVideos {
	width:100%;
	height:400px;
	@include pie-clearfix;

	.leadVideo {
		@include float(left);
		width:450px;
		height:100%;

		& a {
			color:#fff;
			text-decoration: none;
			letter-spacing: 1px;

			& > span {
				display: block;
				width:100%;
				height: auto;
			}
		}
	}

	.leadVideo a > .lvdTitle {
		padding:15px 0;

		@include fontSize($defFont + 4);
		font-weight: 500;
	}

	.leadVideo a > .lvdDes {
		@include fontSize($defFont);
		letter-spacing: 2px;
		line-height: 18px;
	}


	.otherVideos {
		@include float(right);
		width:220px;
		height:100%;

		& > div {
			margin-top:15px;
			&:first-child { margin-top:0; }
		}

		& > div > a {
			display: block;
			width:100%;
			height:auto;
			margin-top:10px;

			@include fontSize($defFont + 2);
			letter-spacing: 1px;
			color:#fff;
			text-decoration: none;
			line-height: 20px;
		}
	}
}

/** 影音圖集首頁-精彩圖集模組樣式 **/
.main div.specialGroup {
	margin-bottom:15px;

	.sgTitle {
		@extend %titleStyle;
		width:675px;
		background: $blue;
		padding-left: 10px;

		&:before { display: none; }
		.moresLink {
			background: $orange;
		}
	}

	.sgContent {
		@extend %videoGroup;
	}
}
