<div class="recordZone">
  <h3 class="title">2015/5/26 湖人vs金塊各節得分</h3>
  <div class="recordZone_form">
    <table class="recordTable">
      <tr>
        <td>球隊</td>
        <td>第1節</td>
        <td>第2節</td>
        <td>第3節</td>
        <td>第4節</td>
        <td>延長1</td>
        <td>延長2</td>
        <td>延長3</td>
        <td>總 分</td>
      </tr>
      <tr>
        <td>湖人隊</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
      </tr>
      <tr>
        <td>金塊隊</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
        <td>99</td>
      </tr>
    </table>
  </div>
</div>