<!-- 直播新聞模組 開始 -->
<div class="recordZoneNews">
    <div class="title">直播新聞</div>
    <div class="rznContent">
      <ul>
        <li><a href="#">球神梅西口碑佳　全台票房第12名球神梅西口碑佳　全台票房第12名</a></li>
        <li><a href="#">球神梅西口碑佳　全台票房第12名球神梅西口碑佳　全台票房第12名</a></li>
        <li><a href="#">球神梅西口碑佳　全台票房第12名球神梅西口碑佳　全台票房第12名</a></li>
        <li><a href="#">球神梅西口碑佳　全台票房第12名球神梅西口碑佳　全台票房第12名</a></li>
        <li><a href="#">球神梅西口碑佳　全台票房第12名球神梅西口碑佳　全台票房第12名</a></li>
      </ul>
    </div>
</div>
<!-- 直播新聞模組 結束 -->
