<div class="recordZone">
  <h3 class="title">賽事直播</h3>
  <div class="recordZone_form">
    <div class="page">
      <table class="recordTable recordLive">
      <tr>
        <td>時間</td>
        <td>賽況</td>
        <td>比數</td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
      <tr>
        <td>延長1</td>
        <td>也感謝球迷一整季以來對ETtoday的支持，謝謝各位，再見</td>
        <td>
          <span>999</span>:<span>99</span>
        </td>
      </tr>
    </table>
    </div>
    <div class="pageNums recordLivePageNums">
      <ul>
        <li><a href="#"><<</a></li>
        <li><a href="#"><</a></li>
        <li class="nums active"><a href="#">1</a></li>
        <li class="nums"><a href="#">2</a></li>
        <li class="nums"><a href="#">3</a></li>
        <li class="nums"><a href="#">4</a></li>
        <li class="nums"><a href="#">5</a></li>
        <li class="nums"><a href="#">6</a></li>
        <li class="nums"><a href="#">7</a></li>
        <li><a href="#">></a></li>
        <li><a href="#">>></a></li>
      </ul>
    </div>
  </div>
</div>